@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reviews Section */
.reviews-section {
  margin: 55px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f5ef;
  max-width: 1440px;
  width: 100%;
}

.reviews-section h3 {
  padding-top: 58px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
}

.reviews-container {
  margin: 85px;
}

.reviews-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.review-card {
  flex: 1;
  min-width: 250px;
  max-width: 100%;
}

.review-card .stars {
  color: #245490;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 1;
}

.review-card h4 {
  margin-top: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  color: #245490;
}

.review-card p {
  margin-top: 10px;
  max-width: 100%;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}

.review-card b {
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
}

@media (max-width: 992px) {
  .reviews-cards {
    flex-direction: column;
  }

  .review-card {
    width: 100%;
  }
}

@media (max-width: 668px) {
  .reviews-section h3 {
    padding-top: 32px;
    font-size: 20px;
    line-height: 26px;
  }
}
